body {
    background-color: #b8cae54f;
    margin: 13px;
    border: 2px solid black;
    height: 100%;
}

.container{
    --bs-gutter-x: none;
}

h1 {
    text-align: center;
}

.card {
    margin-top: 13px;
    --bs-card-inner-border-radius: none;
    --bs-card-bg: none;
}

.card-header {
    background-color: #b8cae54f;
}

.btn:focus{
    box-shadow: none;
}


@media only screen and (max-width: 650px) {
    .button-home {
        width: auto;
    }
}

.button-home:hover {
    color: #000000;
}

/*
.button-home::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #1b1b20;
    transition: opacity 0.3s, border 0.3s;
}

.button-home:hover::before {
    opacity: 0;
}

.button-home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #494958;
    border-color: transparent;
    border-radius: 50%;
    transform: translate(-10px, -70px) scale(0.1);
    opacity: 0;
    z-index: -1;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
} */