.data {
  margin-top: 12px;
}

.title {
  font-weight: bold;
  color: #2f2f2f;
  margin-bottom: 0rem;
}

.non {
  padding-top: 35px;
}


/* SidebarItem.js file css */

.span-title{
  font-size: 15px;
  font-weight: 700;
  color: black;
}

.sidebar-item{
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
}

.sidebar-item:hover{
  background-color: rgba(255, 255, 255, .1);
  cursor: pointer;
}

.sidebar-title{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
}

.sidebar-title:hover{
  color: blue;
}

.sidebar-title span i{
  display: inline-block;
  width: 1.5em;
}

.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}

.sidebar-item.open .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}
.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}

.sidebar-item.open .sidebar-content{
  height: auto;
}

.sidebar-title li{
  list-style: none;
  color: #b2b2b8;
}

.sidebar-title li .spancss{
  font-size: 15px;
  color: black;
}

.sidebar-title li .spancss:hover{
  color: steelblue;
}